#div1 p {
	/* 101 */
	color: green;
}
div #x1 {
	/* 101 */
	color: red;
}
.x2 {
	/* 010 */
	color: teal;
}
p #x2 {
	/* 101 */
	color: purple;
}
div > span {
	/* 002 */
	color: blue;
}
/* ดูสีที่ได้ใช้ทั้งหมดแล้วเทียบกันแต่ละสีว่าคำสั่งไหนถูกใช้จริงๆ */