body {
    background-color: #1D3557;
   }
   h1 {
    color: #E63946;
   }
   ul {
    list-style-type: none;
    color: #a7dadc;;
   }
   ol {
    color: #F1FAEE;
   }
   .non-sporting{
    background-color: #45789D;
   }
   #collie{
    color: #1D3557;
    background-color: #F1FAEE;
   }
   ul>li:nth-child(odd){
    color: #E63946;
   }
   ul li::before{
       content: "\2022";
       color: #E63946;
       font-weight: bold;
       display: inline-block;
       width: 1em;
       margin-left: -2em;
   }