body {
	background-color: #475c7a;
}

h1 {
	color: #fcbb6d;
	background-color: #685d79;
}

ol {
	color: white;
	background-color: #d8737f;
}

ol>li {
	font-weight: bold;
}

ol>li, ul{
	background-color: #ab6c82;
}
ol>li:nth-child(4n+3),ul:nth-of-type(2n){

	background-color: #685d79;
}
ul {
	list-style: none;
  }
ul li::before {
	content: "\2022";
	color: #fcbb6d;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
  }